.movie-card {
    min-width: 340px;
    max-width: 757px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 #E5E5E5;
}

.movie-card__title {
    font-family: 'Inter UI';
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.movie-card__poster {
    height: 280px;
    object-fit: contain;
}

.movie-card__info-layout {
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-left: 20px;
    width: 100%;
}

.movie-card__date {
    color: #827E7E;
}

.movie-card__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 9px;
}

.movie-card__info {
    font-family: 'Inter UI';
    font-size: 12px;
    line-height: 22px;
    margin-top: 9px;
}

.movie-card__rate {
    width: auto;
    margin-top: auto;
}

.movie-card__circle-rate {
    width: 30px;
    height: 30px;
    border: 2px solid #E9D100;
    font-family: 'Inter UI';
    font-size: 12px;
    line-height: 22px;
    border-radius: 50%;
    padding: 3px;
    padding-left: 5px;
    box-sizing: border-box;
    align-self: flex-start;
    flex-shrink: 0;
}

.movie-card__info--mobile {
    display: none;
}

.movie-card__rate--mobile {
    display: none;
}

@media (max-width: 768px) {
    .movie-card__poster {
        max-width: 60px;
        margin-left: 10px;
        margin-top: 6px;
        align-self: flex-start;
        height: auto;
    }
    .movie-card {
        height: 245px;
    }
    .movie-card__info {
        display: none;
    }
    .movie-card__rate {
        display: none;
    }
    .movie-card__info--mobile {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    .movie-card__rate--mobile {
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
        position: absolute;
        bottom: 0;
        right: 10px;
    }
}
