.movie-card-list {
    display: block;
    padding-top: 36px;
    padding-bottom: 36px;
}

.movie-card-list__card {
    display: flex;
    flex-direction: row;
}

.movie-card-list__card--mobile {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .movie-card-list {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
